/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}
.todo-title {
  cursor: pointer;
}
.completed-todo {
  text-decoration: line-through;
}*/

.h1, h1{
    font-size: 3rem;
    color:#85144b;
  }
  
  .btn-primary{
    margin-right: 30px;
    margin-left: 10;
    padding: 0.5rem 1.55rem;
    font-size: 1.15rem;
  }
  .tab-list > span {
    padding: 5px 8px;
    border: 1px solid #282c34;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  .tab-list > span.active {
    background-color: #22c9d4;
    color: #ffffff;
    font-size: ;
  } 
  
  * {
      box-sizing: border-box;
      }
  
  body{
  
      --background: #FFFFFF;
    /* --front: #97D8C0; */
    --front: #7FDBFF;
      --back: #DAD97D;
      --text: #85144B;
      --border: #95A39D;	
      
      background: var(--background);
      font-family: 'Arvo';
      font-size: 4em;
      }
  
      .todo-title {
          cursor: pointer;
        }
        .completed-todo {
          text-decoration: line-through;
        }
        .tab-list > span {
          padding: 5px 8px;
          border: 1px solid #282c34;
          border-radius: 10px;
          margin-right: 5px;
          cursor: pointer;
        }
        /* .tab-list > span.active {
          background-color: #282c34;
          color: #ffffff;
        }
         */
  /* https://davidwalsh.name/demo/css-flip.php */
  /* entire container, keeps perspective */
  .flip-container {
      margin: 20vh auto;
      
      /* -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
      
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
      
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d; */
      }
  
  /* flip the pane  */
  .flip-container.flipped .flipper, .flip-container.flipped .flipper {
      -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
      }
  
  .flip-container, .front, .back {
      width: 30vw;
      height: 60vh;
      border-radius: 1em;
      }
      @media only screen and (max-width: 768px) {
          .flip-container{
              margin: 10vh auto;
      }
      .flip-container, .front, .back {
          width: 80vw;
          height: 80vh;
          }
      }
  .front, .back {
      text-align: center;
      padding: calc(50% - .5em) 1em 0 1em;
      color: var(--text);
      border: 1px solid var(--border);
      }
  
  /* flip speed goes here */
  .flipper {
      position: relative;
      -webkit-transition: 0.6s;
      -webkit-transform-style: preserve-3d;
      -ms-transition: 0.6s;
      -moz-transition: 0.6s;
      -moz-transform: perspective(1000px);
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transition: 0.6s;
      transform-style: preserve-3d;
  }
  
  /* hide back of pane during swap */
  .front, .back {
        position: absolute;
      top: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      
      -webkit-transition: 0.6s;
      -webkit-transform-style: preserve-3d;
      -webkit-transform: rotateY(0deg);
      -moz-transition: 0.6s;
      -moz-transform-style: preserve-3d;
      -moz-transform: rotateY(0deg);
      -o-transition: 0.6s;
      -o-transform-style: preserve-3d;
      -o-transform: rotateY(0deg);
      -ms-transition: 0.6s;
      -ms-transform-style: preserve-3d;
      -ms-transform: rotateY(0deg);
      transition: 0.6s;
      transform-style: preserve-3d;
      transform: rotateY(0deg);
  }





  
  /* front pane, placed above back */
  .front {
      z-index: 2;
      /* for firefox 31 */
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
      background-color: var(--front);
  }
  
  /* back, initially hidden pane */
  .back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
      background-color: var(--back);
  }




  .refresh{
      display: block;
      margin: -1.5em auto 0 auto;
      width: 50vw;
      max-width: 8em;
      height: 1.5em;
      border: 0;
      border-radius: .5em .5em 0 0;
      color: var(--background);
      background-color: var(--text);
      font-size: 0.5em;
      font-family: 'Arvo';
      cursor: pointer;
      outline: none;
      }
  
  